
body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  background-color: #fff;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  padding: 20px 0;
  box-shadow: inset 0px -1px 0px #C4CDD5;
  display: flex;
  justify-content: space-between;
}

.headerLeft {

  & img {
    width: 50px;
    height: 42px;
  }
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  & li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}

.catalog {
  padding: 40px 0 100px;
}

.catalogInnerTitle {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    color: #000000;
  }
}

.catalogSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 15px 18px;
  position: relative;

  & img {
    margin-right: 14px;
  }

  & input::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
  }

  & input:focus {
    outline-color: transparent;
  } 
}

.catalogSearch .catalogClose {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  margin-right: 0;
  cursor: pointer;
}

.catalogList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}






